header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    background-color: #525659;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    box-shadow: 1px 1px 2px #3f3f3f;
}

#toggle-chapter {
    margin: 5px 15px 0px 15px;
    float: left
}

#toggle-file-info {
    margin: 5px 15px 0px 15px;
    float: right;
}

#downFile {
    margin: 5px 15px 0px 15px;
    float: right;
}

#file-info {
    width: auto;

    position: fixed;
    top: 48px;
    right: 0;
    padding: 0px 16px 0px 16px;
    color: #ffffff;
    background-color: #000000;
    visibility: hidden;
}

#chapters {
    height: 80%;
    height: calc(100% - 48px);
    width: 200px;
    resize: horizontal;
    position: fixed;
    left: 0px;
    top: 48px;
    overflow: auto;
    margin-left: 16px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #3f3f3f;
    background-color: #525659;
    box-shadow: 1px 1px 2px #3f3f3f;
    visibility: hidden;
}

#chapters a:link,
#chapters a:visited {
    color: #ffffff;
    text-decoration: none;
}

#chapters a:hover {
    text-decoration: underline;
}

#bookContent {
    width: 800px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px
}

.chapter-title {
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 28px;
    text-align: center;
}

.chapter-page {
    background: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    box-shadow: 3px 3px 5px #3f3f3f;
    font-size: 14px;
}

.chapter-page-pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

@keyframes showChapters {
    0% {width: 0px}
    100% {width: 200px}
}

@keyframes hideChapters {
    0% {width: 200px}
    100% {width: 0px}
}

@keyframes showInfo {
    0% {height: 0px}
    100% {height: 108px}
}

@keyframes hideInfo {
    0% {height: 108px}
    100% {height: 0px}
}
